div{
    border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:bisque;
  padding: 10px;
  margin: 10px;
}
input[type=submit]{
    background-color: aqua;
    color: brown;
    width: 10%;
}
input[type=text]:hover{
background-color: blueviolet;
}
input[type=password]{
    background-color: red;
}
input[type=text]:hover{
    background-color: cadetblue;
}