table{
   border-collapse: collapse;
   
}
th,td{
    text-align: left;
    padding: 10px;
}
tr:nth-child(even){
    background-color: aqua;
}
th:nth-child(even){
    background-color: bisque;
}
td:nth-child(even){
    background-color: azure;
}
tr:hover{
    background-color: beige;
}